It.Unina.Dis.Logbus.Extensions/Web References/Entities/logbus-entitymanager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:em="http://www.dis.unina.it/logbus-ng/em" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.dis.unina.it/logbus-ng/em" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.dis.unina.it/logbus-ng/em">
      <xs:complexType name="LoggingEntityIdentifier">
        <xs:sequence>
          <xs:element form="unqualified" name="host" nillable="true" type="xs:string" />
          <xs:element form="unqualified" name="process" nillable="true" type="xs:string" />
          <xs:element form="unqualified" name="logger" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="entity" type="em:LoggingEntity" />
      <xs:complexType name="ArrayOfEntities">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="em:entity" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="entities" type="em:ArrayOfEntities" />
      <xs:complexType name="TemplateQuery">
        <xs:complexContent mixed="false">
          <xs:extension base="em:LoggingEntityIdentifier">
            <xs:sequence>
              <xs:element minOccurs="0" form="unqualified" name="ffda" type="xs:boolean" />
              <xs:element minOccurs="0" form="unqualified" name="max-inactivity" nillable="true" type="xs:integer" />
              <xs:element minOccurs="0" form="unqualified" name="appName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="query" type="em:TemplateQuery" />
      <xs:complexType name="LoggingEntity">
        <xs:complexContent mixed="false">
          <xs:extension base="em:LoggingEntityIdentifier">
            <xs:sequence>
              <xs:element form="unqualified" name="appName" nillable="true" type="xs:string" />
              <xs:element default="false" form="unqualified" name="ffda" type="xs:boolean" />
              <xs:element form="unqualified" name="lastAction" type="xs:dateTime" />
              <xs:element minOccurs="0" form="unqualified" name="lastHeartbeat" type="xs:dateTime" />
              <xs:element minOccurs="0" form="unqualified" name="channelId" type="xs:string" />
              <xs:element minOccurs="0" form="unqualified" name="ffdaChannelId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetLoggingEntitiesRequest" />
  <wsdl:message name="GetLoggingEntitiesResponse">
    <wsdl:part name="entities" element="em:entities">
      <wsdl:documentation>Array of LogginEntity</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindLoggingEntitiesRequest">
    <wsdl:part name="query" element="em:query" />
  </wsdl:message>
  <wsdl:message name="FindLoggingEntitiesResponse">
    <wsdl:part name="entities" element="em:entities" />
  </wsdl:message>
  <wsdl:message name="GetActiveFlowsRequest" />
  <wsdl:message name="GetActiveFlowsResponse">
    <wsdl:part name="flows" type="xs:string" />
  </wsdl:message>
  <wsdl:portType name="EntityManagement">
    <wsdl:documentation>Retrieves information about logging entities</wsdl:documentation>
    <wsdl:operation name="GetLoggingEntities">
      <wsdl:input message="em:GetLoggingEntitiesRequest" />
      <wsdl:output message="em:GetLoggingEntitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindLoggingEntities">
      <wsdl:input message="em:FindLoggingEntitiesRequest" />
      <wsdl:output message="em:FindLoggingEntitiesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntityManagement" type="em:EntityManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoggingEntities">
      <soap:operation soapAction="urn:#GetLoggingEntities" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLoggingEntities">
      <soap:operation soapAction="urn:#FindLoggingEntities" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>