trunk/logbus-core/It.Unina.Dis.Logbus.Extensions/Entities/logbus-entitymanager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by TEAM ViRiLiTY (VRL) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:em="http://www.dis.unina.it/logbus-ng/em" targetNamespace="http://www.dis.unina.it/logbus-ng/em">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.dis.unina.it/logbus-ng/em" elementFormDefault="unqualified" attributeFormDefault="unqualified">
			<xs:complexType name="LoggingEntityIdentifier" abstract="false">
				<xs:sequence>
					<xs:element name="host" type="xs:string" form="unqualified" nillable="true"/>
					<xs:element name="process" type="xs:string" form="unqualified" nillable="true"/>
					<xs:element name="logger" type="xs:string" form="unqualified" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="entity" type="em:LoggingEntity"/>
			<xs:complexType name="ArrayOfEntities">
				<xs:sequence>
					<xs:element ref="em:entity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="entities" type="em:ArrayOfEntities"/>
			<xs:complexType name="TemplateQuery">
				<xs:complexContent>
					<xs:extension base="em:LoggingEntityIdentifier">
						<xs:sequence>
							<xs:element name="ffda" type="xs:boolean" form="unqualified" nillable="false" minOccurs="0"/>
							<!-- Maximum inactivity in SECONDS -->
							<xs:element name="max-inactivity" type="xs:integer" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="appName" type="xs:string" form="unqualified" minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="query" type="em:TemplateQuery"/>
			<xs:complexType name="LoggingEntity">
				<xs:complexContent>
					<xs:extension base="em:LoggingEntityIdentifier">
						<xs:sequence>
							<xs:element name="appName" type="xs:string" form="unqualified" nillable="true"/>
							<xs:element name="ffda" type="xs:boolean" default="false" form="unqualified"/>
							<xs:element name="lastAction" type="xs:dateTime" form="unqualified"/>
							<xs:element name="lastHeartbeat" type="xs:dateTime" form="unqualified" minOccurs="0"/>
							<xs:element name="channelId" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="ffdaChannelId" type="xs:string" form="unqualified" minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetLoggingEntitiesRequest"/>
	<wsdl:message name="GetLoggingEntitiesResponse">
		<wsdl:part name="entities" element="em:entities">
			<wsdl:documentation>Array of LogginEntity</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FindLoggingEntitiesRequest">
		<wsdl:part name="query" element="em:query"/>
	</wsdl:message>
	<wsdl:message name="FindLoggingEntitiesResponse">
		<wsdl:part name="entities" element="em:entities"/>
	</wsdl:message>
	<wsdl:message name="GetActiveFlowsRequest"/>
	<wsdl:message name="GetActiveFlowsResponse">
		<wsdl:part name="flows" type="xs:string"/>
	</wsdl:message>
	<wsdl:portType name="EntityManagement">
		<wsdl:documentation>Retrieves information about logging entities</wsdl:documentation>
		<wsdl:operation name="GetLoggingEntities">
			<wsdl:input message="em:GetLoggingEntitiesRequest"/>
			<wsdl:output message="em:GetLoggingEntitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FindLoggingEntities">
			<wsdl:input message="em:FindLoggingEntitiesRequest"/>
			<wsdl:output message="em:FindLoggingEntitiesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EntityManagement" type="em:EntityManagement">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetLoggingEntities">
			<soap:operation soapAction="urn:#GetLoggingEntities"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="FindLoggingEntities">
			<soap:operation soapAction="urn:#FindLoggingEntities"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
